@font-face {
    font-family: "iconfont"; /* Project id 4021522 */
    src: url('//at.alicdn.com/t/c/font_4021522_lft781pbfyp.woff2?t=1681798672186') format('woff2'),
         url('//at.alicdn.com/t/c/font_4021522_lft781pbfyp.woff?t=1681798672186') format('woff'),
         url('//at.alicdn.com/t/c/font_4021522_lft781pbfyp.ttf?t=1681798672186') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-erweima:before {
    content: "\e65f";
  }
  
  .icon-weixin:before {
    content: "\e66c";
  }
  
  .icon-qq:before {
    content: "\e600";
  }
  
  .icon-sousuo:before {
    content: "\e60d";
  }
  